<div class="container">
    <p style="font-size: 30px; margin-top: 10px;">Stores</p>
    <hr class="my-3" style="margin-top: 5px;">

    <div id="locations-container" class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 20px;">
    </div>
</div>

<script src="storeController.js"></script>