.card {
  width: 150px;
  height: 200px;
  border-color: white ;
}

#text-modal {
  background-color: black;
  color: white;
}

#modal-header {
  background-color: black;
  color: white;
}

#modal-footer {
  background-color: black;
  
}