/* Estilos para las flechas de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.5;
  background-color: gray ;
  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent ;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
}




