<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <title>CinemaSurf - Administrador de películas</title>
    <link rel="icon" type="image/x-icon" href="../../public/img/favicon.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/navbar.css">
    <link rel="stylesheet" href="../../public/css/admin.css">
    <link rel="stylesheet" href="../../public/css/dark-mode.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Modal de registro de usuario -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="loginModalLabel">Registro de Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body bg-light">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Crea tu contraseña">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Confirmar contraseña:</label>
                            <input type="password" class="form-control" id="confirm-password" name="password"
                                placeholder="Confirma tu contraseña">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary mx-auto" data-bs-toggle="modal"
                                data-bs-target="#registerModal">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de registro de usuario -->

    <!-- Modal de inicio de sesión -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body bg-light">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="email" class="form-control" id="user-email" name="email"
                                placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="user-password" name="password"
                                placeholder="Ingresa tu contraseña"> <a href="#" class="forgot-password">¿Olvidaste la
                                contraseña?</a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#registerModal" data-bs-dismiss="modal">Regístrate aquí</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="movieDeletionModal" tabindex="-1" role="dialog" aria-labelledby="movieDeletionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movieDeletionModalLabel">Advertencia: eliminar película</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que deseas eliminar la película? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmMovieDeletion">Eliminar película</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="movieEditionModal" tabindex="-1" role="dialog" aria-labelledby=" movieEditionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movieEditionModalLabel">Editando película</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editMovieForm">
                        <input type="hidden" id="editMovieId">
                        <!-- Add other input fields for movie details -->
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="editMoviePosterUrl"><b>Poster</b></label>
                                <input type="text" class="form-control" id="editMoviePosterUrl" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieTitle"><b>Título</b></label>
                                <input type="text" class="form-control" id="editMovieTitle" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieYear"><b>Año</b></label>
                                <input type="text" class="form-control" id="editMovieYear" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieDirector"><b>Director</b></label>
                                <input type="text" class="form-control" id="editMovieDirector" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieActors"><b>Actores</b></label>
                                <input type="text" class="form-control" id="editMovieActors" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieGenres"><b>Géneros</b></label>
                                <input type="text" class="form-control" id="editMovieGenres" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieSynopsis"><b>Sinopsis</b></label>
                                <input type="text" class="form-control" id="editMovieSynopsis" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieTrailerUrl"><b>Trailer</b></label>
                                <input type="text" class="form-control" id="editMovieTrailerUrl" required>
                            </div>
                            <div class="mb-3">
                                <label for="editMovieAvailability"><b>Disponibilidad</b></label>
                                <input type="text" class="form-control" id="editMovieStoreAvailability" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="confirmMovieEdit">Confirmar edición</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="codeDeletionModal" tabindex="-1" role="dialog" aria-labelledby="codeDeletionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeDeletionModalLabel">Advertencia: eliminar código</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas eliminar el código de descuento? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmCodeDeletion">Eliminar código</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="codeEditionModal" tabindex="-1" role="dialog" aria-labelledby=" codeEditionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeEditionModalLabel">Editando código de descuento</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editCodeForm">
                    <input type="hidden" id="editCodeId">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="editMoviePosterUrl"><b>Código</b></label>
                            <input type="text" class="form-control" id="editDiscountCode" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMovieTitle"><b>Porcentaje</b></label>
                            <input type="text" class="form-control" id="editCodePercentage" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMovieYear"><b>Fecha de creación</b></label>
                            <input type="text" class="form-control" id="editCodeCreationDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMovieDirector"><b>Válido en</b></label>
                            <input type="text" class="form-control" id="editCodeValidIn" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMovieActors"><b>Inicio vigencia</b></label>
                            <input type="text" class="form-control" id="editCodeValidFrom" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMovieGenres"><b>Final vigencia</b></label>
                            <input type="text" class="form-control" id="editCodeValidUntil" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmCodeEdit">Confirmar edición</button>
            </div>
        </div>
    </div>
</div>

</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 33, 51);">
            <div class="container">
                <a class="navbar-brand" href="/"><img id="CinemaSurf-logo" src="../../public/img/favicon.png"
                        alt="CinemaSurf" draggable="false" height="30" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-3">
                        <li class="nav-item">
                            <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
                                    class="bi bi-list"></i>Menu</a>
                        </li>
                    </ul>
                    <form class="d-flex align-items-center w-100 form-search">
                        <div class="input-group">
                            <button class="btn btn-light dropdown-toggle shadow-0" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 0.4rem;"><i
                                    class="bi bi-search"></i>
                                Todo
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark fa-ul">
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-search"></i> Todo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-fire"></i> Acción</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-shield-fill"></i> Aventura</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-emoji-laughing-fill"></i>
                                        Comedia</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-emoji-frown-fill"></i> Terror</a>
                                </li>
                            </ul>
                            <input type="search" class="form-control" placeholder="Buscar películas..."
                                aria-label="Buscar películas..." />
                        </div>
                        <a href="#!" style="color: white;"><i class="bi bi-search ms-2"></i></i></a>
                    </form>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="/stores">
                                Sucursales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="/admin">
                                Administrador
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="/cart">
                                <i class="bi bi-cart-fill"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="#!" data-bs-toggle="modal"
                                data-bs-target="#loginModal">
                                <i class="bi bi-person-fill "></i> Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="form-check form-switch mx-auto mt-2">
                                <label class="form-check-label ms-3" for="lightSwitch" class="dark-mode">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                                        class="bi bi-brightness-high" viewBox="0 0 16 16">
                                        <path
                                            d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                    </svg>
                                </label>
                                <input class="form-check-input" type="checkbox" id="lightSwitch" />
                            </div>
                        </li>
                </div>
                </ul>
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <main>
        <div class="container">
            <p style="font-size: 30px; margin-top: 10px;">Administración de películas</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMovieModal">Agregar
                película</button>
            <hr class="my-3" style="margin-top: 5px;">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Poster</th>
                            <th scope="col">Título</th>
                            <th scope="col">Año</th>
                            <th scope="col">Director</th>
                            <th scope="col">Actores</th>
                            <th scope="col">Género</th>
                            <th scope="col">Sinopsis</th>
                            <th scope="col">Trailer</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col">Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="movies-container">

                    </tbody>
                </table>
            </div>

            <p style="font-size: 30px; margin-top: 10px;">Códigos de descuento</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDiscountCode">Agregar código de
                descuento</button>
            <hr class="my-3" style="margin-top: 5px;">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Porcentaje</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Válido en</th>
                            <th scope="col">Inicio vigencia</th>
                            <th scope="col">Final vigencia</th>
                            <th scope="col">Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="codes-container">
                    </tbody>
                </table>
            </div>
        </div>


    </main>
    <footer class="bg-dark text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(42, 33, 51); color: white;">
            Copyright 2023 ©
            <a style="color: white;" href="http://127.0.0.1:5500/app/views/pages/index.html">CinemaSurf</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="../../public/js/dark-mode.js"></script>
    <script src="../../controllers/moviesAdminController.js"></script>
    <script src="../../controllers/discountsAdminController.js"></script>
</body>

</html>