<!doctype html>
<html lang="en">

<head>
  <title>CinemaSurf - Carrito</title>
  <link rel="icon" type="image/x-icon" href="../../public/img/favicon.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../../public/css/navbar.css">
  <link rel="stylesheet" href="../../public/css/body.css">
  <link rel="stylesheet" href="../../public/css/cart.css">
  <link rel="stylesheet" href="../../public/css/dark-mode.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">

  <!-- Modal de registro de usuario -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="loginModalLabel">Registro de Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body bg-light">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico:</label>
              <input type="email" class="form-control" id="email" name="email"
                placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="password" name="password"
                placeholder="Crea tu contraseña">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Confirmar contraseña:</label>
              <input type="password" class="form-control" id="confirm-password" name="password"
                placeholder="Confirma tu contraseña">
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary mx-auto" data-bs-toggle="modal"
                data-bs-target="#registerModal">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de registro de usuario -->

  <!-- Modal de inicio de sesión -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body bg-light">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico:</label>
              <input type="email" class="form-control" id="user-email" name="email"
                placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="user-password" name="password"
                placeholder="Ingresa tu contraseña"> <a href="#" class="forgot-password">¿Olvidaste la contraseña?</a>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#registerModal"
                data-bs-dismiss="modal">Regístrate aquí</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 33, 51);">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img id="CinemaSurf-logo" src="../../public/img/favicon.png"
            alt="CinemaSurf" draggable="false" height="30" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-3">
            <li class="nav-item">
              <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
                  class="bi bi-list"></i>Menu</a>
            </li>
          </ul>
          <form class="d-flex align-items-center w-100 form-search">
            <div class="input-group">
              <button class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="padding-bottom: 0.4rem;"><i class="bi bi-search"></i>
                Todo
              </button>
              <ul class="dropdown-menu dropdown-menu-dark fa-ul">
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-search"></i> Todo</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-fire"></i> Acción</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-shield-fill"></i> Aventura</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-emoji-laughing-fill"></i> Comedia</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-emoji-frown-fill"></i> Terror</a>
                </li>
              </ul>
              <input type="search" class="form-control" placeholder="Buscar películas..."
                aria-label="Buscar películas..." />
            </div>
            <a href="#!" style="color: white;"><i class="bi bi-search ms-2"></i></i></a>
          </form>
          <ul class="navbar-nav ms-3">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="sucursales.html">
                Sucursales
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="admin.html">
                Administrador
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="carrito.html">
                <i class="bi bi-cart-fill"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="#!" data-bs-toggle="modal"
                data-bs-target="#loginModal">
                <i class="bi bi-person-fill "></i> Login
              </a>
            </li>
            <li class="nav-item">
              <div class="form-check form-switch mx-auto mt-2">
                <label class="form-check-label ms-3" for="lightSwitch" class="dark-mode">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                    class="bi bi-brightness-high" viewBox="0 0 16 16">
                    <path
                      d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                  </svg>
                </label>
                <input class="form-check-input" type="checkbox" id="lightSwitch" />
              </div>
            </li>
        </div>
        </ul>
      </div>
    </nav>
    <!-- Navbar -->
  </header>

  <main>
    <section class="h-100 h-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        <h6 class="mb-0 text-muted">2 items</h6>
                      </div>
                      <hr class="my-4" style="color: black;">

                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img src="../../public/img/brightburn.jpg" class="img-fluid rounded-3" alt="Brightburn">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">Brightburn</h6>
                          <h6 class="text-muted">Terror - 2019</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="bi bi-dash"></i>
                          </button>

                          <input id="form1" min="0" name="quantity" value="1" type="number"
                            class="form-control form-control-sm" />

                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="bi bi-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0 text-black">$ 25.00</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-muted"><i class="bi bi-x-lg"></i></a>
                        </div>
                      </div>

                      <hr class="my-4" style="color: black;">

                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img src="../../public/img/terrifier_2.jpg" class="img-fluid rounded-3" alt="Terrifier 2">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">Terrifier 2</h6>
                          <h6 class="text-muted">Terror - 2022</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="bi bi-dash"></i>
                          </button>

                          <input id="form1" min="0" name="quantity" value="1" type="number"
                            class="form-control form-control-sm" />

                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="bi bi-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0 text-black">$ 25.00</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-muted"><i class="bi bi-x-lg"></i></a>
                        </div>
                      </div>

                      <hr class="my-4">

                      <div class="pt-5">
                        <h6 class="mb-0"><a href="#!" class="text-body"><i class="bi bi-arrow-left"></i>Seguir
                            comprando</a></h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1 text-black">Resumen de compra</h3>
                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase text-black">Brightburn (2019)</h5>
                        <h5 class="text-black">$ 25.00</h5>
                      </div>
                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase text-black">Terrifier 2 (2022)</h5>
                        <h5 class="text-black">$ 25.00</h5>
                      </div>

                      <h5 class="text-uppercase mb-3 text-black">Envío</h5>

                      <div class="mb-4 pb-2">
                        <select class="form-select">
                          <option value="1">Digital</option>
                          <option value="2">Físico</option>
                        </select>
                      </div>

                      <h5 class="text-uppercase mb-3 text-black">Código de descuento</h5>

                      <div class="mb-5">
                        <div class="form-floating mb-3 text-black">
                          <input type="text" id="form3Examplea2" class="form-control form-control-lg" placeholder=" " />
                          <label for="form3Examplea2">Ej. RENTAL5OFF</label>
                        </div>
                      </div>

                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase text-black">Total:</h5>
                        <h5 class="text-black">$ 50.00</h5>
                      </div>
                      <div style="text-align: center;">
                        <button type="button" class="btn btn-danger btn-block btn-lg"
                          data-mdb-ripple-color="dark">Vaciar
                          carrito</button>
                        <button type="button" class="btn btn-success btn-block btn-lg"
                          data-mdb-ripple-color="dark">Pagar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="../../public/js/dark-mode.js"></script>
</body>

</html>