<!doctype html>
<html lang="en" data-bs-theme="blue">

<head>
  <title>CinemaSurf - Compra y renta de películas</title>
  <link rel="icon" type="image/x-icon" href="../../public/img/favicon.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../../public/css/navbar.css">
  <link rel="stylesheet" href="../../public/css/cards.css">
  <link rel="stylesheet" href="../../public/css/body.css">
  <link rel="stylesheet" href="../../public/css/dark-mode.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Modal de registro de usuario -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="loginModalLabel">Registro de Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body bg-light">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico:</label>
              <input type="email" class="form-control" id="email" name="email"
                placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="password" name="password"
                placeholder="Crea tu contraseña">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Confirmar contraseña:</label>
              <input type="password" class="form-control" id="confirm-password" name="password"
                placeholder="Confirma tu contraseña">
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary mx-auto" data-bs-toggle="modal"
                data-bs-target="#registerModal">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de registro de usuario -->

  <!-- Modal de inicio de sesión -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body bg-light">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico:</label>
              <input type="email" class="form-control" id="user-email" name="email"
                placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="user-password" name="password"
                placeholder="Ingresa tu contraseña"> <a href="#" class="forgot-password">¿Olvidaste la contraseña?</a>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#registerModal"
                data-bs-dismiss="modal">Regístrate aquí</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de inicio de sesión -->

  <!-- Modal de las cards-->
  <div class="modal fade" id="modalPelicula" tabindex="-1" aria-labelledby="modalPeliculaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="modalPeliculaLabel">1917</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="background-color: white;"></button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-sm text-center align-self-center">
              <div class="col">
                <iframe id="modal-video" width="560" height="315" src=""
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm info">
              <div class="col">
                <p><b>Titulo:</b> <span id="modal-titulo"></span></p>
                <p><b>Actores:</b> <span id="modal-actores"></span></p>
                <p><b>Director:</b> <span id="modal-director"></span></p>
                <p><b>Año de estreno:</b> <span id="modal-año"></span></p>
                <p><b>Género: </b> <span id="modal-generos"></span></p>
                <p><b>Sinopsis:</b> <span id="modal-sinopsis"></span></p>
              </div>
            </div>
            <div class="modal-footer bg-light">
              <button type="button" class="btn btn-primary" id="rentarBtn">Rentar</button>
              <button type="button" class="btn btn-success">Comprar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de las cards-->

  <!-- Modal de renta -->
  <div class="modal fade" id="modalRenta2" tabindex="-1" aria-labelledby="modalRentaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRentaLabel">Renta de película</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
          <img id="modal-imagen" class="img-fluid me-3" style="width: 150px;" />
          <div>
            <p><strong>Título:</strong> <span id="modal-titulo2"></span></p>
            <p><strong>Precio:</strong> <span id="modal-precio"></span></p>
            <form>
              <div class="mb-3">
                <label for="input-nombre" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" id="input-nombre">
              </div>
              <div class="mb-3">
                <label for="input-tarjeta" class="form-label">Número de tarjeta</label>
                <input type="text" class="form-control" id="input-tarjeta">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Rentar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de renta -->

  <!-- Modal de compra -->
  <div class="modal fade" id="modalCompra" tabindex="-1" aria-labelledby="modalRentarComprarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRentarComprarLabel">Confirmar compra</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
          <p>El precio de la compra de la película es de:</p>
          <p><strong>$20 USD</strong></p>
          <p>¿Desea continuar con la compra?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="confirmarBtn">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de compra -->
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 33, 51);">
      <div class="container">
        <a class="navbar-brand" href="/"><img id="CinemaSurf-logo" src="../../public/img/favicon.png" alt="CinemaSurf"
            draggable="false" height="30" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-3">
            <li class="nav-item">
              <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
                  class="bi bi-list"></i>Menu</a>
            </li>
          </ul>
          <form class="d-flex align-items-center w-100 form-search">
            <div class="input-group">
              <button class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="padding-bottom: 0.4rem;"><i class="bi bi-search"></i>
                Todo
              </button>
              <ul class="dropdown-menu dropdown-menu-dark fa-ul">
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-search"></i> Todo</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-fire"></i> Acción</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-shield-fill"></i> Aventura</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-emoji-laughing-fill"></i> Comedia</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-emoji-frown-fill"></i> Horror</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="bi bi-rocket-takeoff"></i> Sci-Fi</a>
                </li>
              </ul>
              <input type="search" class="form-control" placeholder="Buscar películas..."
                aria-label="Buscar películas..." />
            </div>
            <a href="#!" style="color: white;"><i class="bi bi-search ms-2"></i></i></a>
          </form>
          <ul class="navbar-nav ms-3">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="/stores">
                Sucursales
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="/admin/panel">
                Administrador
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="/cart">
                <i class="bi bi-cart-fill"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-3" href="#!" data-bs-toggle="modal"
                data-bs-target="#loginModal">
                <i class="bi bi-person-fill "></i> Login
              </a>
            </li>
            <li class="nav-item">
              <div class="form-check form-switch mx-auto mt-2">
                <label class="form-check-label ms-3" for="lightSwitch" class="dark-mode">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                    class="bi bi-brightness-high" viewBox="0 0 16 16">
                    <path
                      d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                  </svg>
                </label>
                <input class="form-check-input" type="checkbox" id="lightSwitch" />
              </div>
            </li>
        </div>
        </ul>
      </div>
    </nav>
    <!-- Navbar -->
  </header>
  <main class="bg-light">

    <div class="container">
      <div id="poster">
        <img src="../../public/img/favicon.png" alt="Logo" id="logo" style="height: 140px;" />
        <p id="title">CinemaSurf</p>
        <p id="subtitle">Renta y compra de tus películas favoritas</p>
      </div>
    </div>

    <div class="container" style="padding-top: 20px;">
      <div class="mx auto ms-5">
        <h3 style="text-decoration-color:#e8e8b5;">Acción</h3>
      </div>
      <div class="card-container" style="margin-bottom: 25px;">
        <div class="d-flex justify-content-between ms-5 me-5" id="Action-movies-container">
        </div>
      </div>

      <div class="mx auto ms-5">
        <h3 style="text-decoration-color:#e8e8b5;">Aventura</h3>
      </div>
      <div class="card-container" style="margin-bottom: 25px;">
        <div class="d-flex justify-content-between ms-5 me-5" id="Adventure-movies-container">
        </div>
      </div>

      <div class="mx auto ms-5">
        <h3 style="text-decoration-color:#e8e8b5;">Comedia</h3>
      </div>
      <div class="card-container" style="margin-bottom: 25px;">
        <div class="d-flex justify-content-between ms-5 me-5" id="Comedy-movies-container">
        </div>
      </div>

      <div class="mx auto ms-5">
        <h3 style="text-decoration-color:#e8e8b5;">Ciencia Ficción</h3>
      </div>
      <div class="card-container" style="margin-bottom: 25px;">
        <div class="d-flex justify-content-between ms-5 me-5" id="Sci-Fi-movies-container">
        </div>
      </div>

      <div class="mx auto ms-5">
        <h3 style="text-decoration-color:#e8e8b5;">Horror</h3>
      </div>
      <div class="card-container" style="margin-bottom: 25px;">
        <div class="d-flex justify-content-between ms-5 me-5" id="Horror-movies-container">
        </div>
      </div>
    </div>

    <!-- Cards -->
  </main>
  <footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(42, 33, 51); color: white;">
      Copyright 2023 ©
      <a style="color: white;" href="http://127.0.0.1:5500/app/views/pages/index.html">CinemaSurf</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="../../public/js/dark-mode.js"></script>
  <script src="../../controllers/indexController.js"></script>
  <script src="../../public/js/modalAttributes.js"></script>
</body>

</html>